.bg-primary {
  background-color: #18c6b7 !important;
}
.bg-secondary {
  background-color: #4e4949 !important;
}
.w-img-card {
  width: 100px;
  margin: 0 auto;
}
.transformers-img {
  width: 300px !important;
}
.card {
  height: 5rem !important;
}
